---
layout: default
id: ourteam
title: Our Team
description: "We are a small group with an enormous skill set. Softelos is a Web Design and Custom Web Development Agency located in Lynchburg, VA."
---
<a name="aboujenna"></a>
<section class="aboutus light content show-for-medium-up">
	<div class="row">
		<div class="medium-8 column">
			<h2>amal boujenna</h2>
			<h3>Co-owner | Operations Director | Design | Branding</h3>
			{% include /contactus/aboujenna-email.html %}						
			<p>
				Amal graduated with a Bachelor of Arts in Spanish and received a Master of Arts in Semitic Languages. She has also taken several courses in design patterns, online marketing strategies and business branding. Before starting with Softelos, she held organizational positions at several companies helping to frame their professional identities and to successfully connect them to their customers. Amal lives in Lynchburg.
			</p>
		</div>
		<div class="medium-4 column text-center">
			<div class="ourteam ourteam-amal"></div>
		</div>
	</div>
	<div class="row">
		<div class="small-centered column text-center">
			<a href="{{ site.baseurl }}/contactus" class="button round">Let's talk!</a>
		</div>
	</div>	 	
</section>
<section class="aboutus dark content show-for-medium-up">
	<div class="row">
		<div class="medium-4 column text-center">
			<div class="ourteam ourteam-chakir"></div>
		</div>
		<div class="medium-8 column">
			<a name="cmrabet"></a>		
			<h2>chakir mrabet</h2>
			<h3>Founder | Senior Developer | Web Specialist</h3>
			{% include /contactus/cmrabet-email.html %}
			<p>
								Chakir founded Softelos after more than 10 years developing websites and web applications. He started making programs for personal computers in the 80s when he was just a kid, and continued developing his passion for web and mobile technologies with the growth of Internet in the 90s, and the increase of popularity of the mobile devices in the early 2000s. Chakir has a Bachelor of Science in Industrial Engineering and a Master of Science in Networks and Computing and lives in Lynchburg.
			</p>
		</div>
	</div>
</section>

<a name="aboujenna"></a>
<section class="aboutus light content show-for-small-only">
	<div class="row">
		<div class="small-12 columns">
			<div class="ourteam ourteam-amal"></div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns text-center">
			<h2>amal boujenna</h2>
			<h3>Co-owner | Operations Director | Design | Branding</h3>
			{% include /contactus/aboujenna-email.html %}			
			<p>
				Amal graduated with a Bachelor of Arts in Spanish and received a Master of Arts in Semitic Languages. She has also taken several courses in design patterns, online marketing strategies and business branding. Before starting with Softelos, she held organizational positions at several companies helping to frame their professional identities and to successfully connect them to their customers. Amal lives in Lynchburg.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="small-centered column text-center">
			<a href="{{ site.baseurl }}/contactus" class="button round">Let's talk!</a>
		</div>
	</div>	 	
</section>
<section class="aboutus dark content show-for-small-only">
	<div class="row">
		<div class="small-12 columns text-center">
			<div class="ourteam ourteam-chakir"></div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns text-center">
			<a name="cmrabet"></a>
			<h2>chakir mrabet</h2>
			<h3>Founder | Senior Developer | Web Specialist</h3>
			{% include /contactus/cmrabet-email.html %}
			<p>
								Chakir founded Softelos after more than 10 years developing websites and web applications. He started making programs for personal computers in the 80s when he was just a kid, and continued developing his passion for web and mobile technologies with the growth of Internet in the 90s, and the increase of popularity of the mobile devices in the early 2000s. Chakir has a Bachelor of Science in Industrial Engineering and a Master of Science in Networks and Computing and lives in Lynchburg.

			</p>
		</div>
	</div>
</section>
