---
layout: default
id: contactus
title: "Contact Us"
description: "Softelos is a Web Design and Development Agency located in Lynchburg (VA). We make professional websites and top-notch web applications for clients all over the United States. Fill our contact form and we'll get back to you ASAP."
---
<a name="section-start"></a>
<section class="light content">

	<div class="show-for-medium-up">
		<div class="row">		
			<div class="medium-8 column">
				<a name="contact-form"></a>
				<form action="//formspree.io/hello@softelos.com" method="post" class="contact">
				    <label for="name">Name</label><input type="text" name="name" autocomplete="off" required/>
				    <label for="_replyto">email</label><input type="text" autocomplete="off" name="_replyto" required />
				    <label for="company">Company/Organization</label><input type="text" name="company" autocomplete="off" />
				    <label for="phone">Phone<input type="text" name="phone" autocomplete="off" />
				    <label for="interest">Interest</label>
					<select name="interest" id="interest">
						<option value="new website">New Website</option>
						<option value="edit website">Modify/Update Existing Website</option>
						<option value="other" selected="selected">Other</option>
					</select>

				    <span id="contact-us-url"><label for="url">URL<input type="url" name="url" autocomplete="off" /></label></span>

				    <span id="contact-us-more-message"><label for="message">Comments</label><textarea name="message" rows="5" cols="20" autocomplete="off" required></textarea></span>

				    {% include /contactus/contact-form-extra.html %}

				    <input type="text" name="_gotcha" style="display:none" />
				    <input type="submit" value="Send" class="button round">
				    <input type="hidden" name="_next" value="/contactus/thanks.html" />
				    <input type="hidden" name="_subject" value="New customer request!" />
				</form>			
			</div>
			<div class="medium-4 column contact">
				<div class="row footer-social">
					<div class="small-12 columns">
						{% include /contactus/social.html %}
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<strong>Softelos LLC</strong>
						<p>
							4925 Boonsboro Rd. #230<br>
							Lynchburg, 24503 VA
						</p>
						<p>
							<strong>New business:</strong>				
							{% include /contactus/hello-email.html %}
							<i class="fa fa-phone-square"></i>&#40;&#52;&#51;&#52;&#41; &#51;&#55;&#51;&#45;&#48;&#48;&#57;&#53;
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	


	<div class="show-for-small-only">
		<div class="row">		
			<div class="medium-12 column">
				<form action="//formspree.io/cmrabet@softelos.com" method="post" class="contact">
				    <label for="name">Name</label><input type="text" name="name" autocomplete="off" required/>
				    <label for="_replyto">email</label><input type="text" autocomplete="off" name="_replyto" required />
				    <label for="company">Company/Organization</label><input type="text" name="company" autocomplete="off" />
				    <label for="phone">Phone</label><input type="text" name="phone" autocomplete="off" />
				     <label for="interest">Interest</label>
					<select name="interest" id="interest">
						<option value="new website">New Website</option>
						<option value="edit website">Modify/Update Existing Website</option>
						<option value="other" selected="selected">Other</option>
					</select>

				    <span id="contact-us-url"><label for="url">URL<input type="url" name="url" autocomplete="off" /></label></span>

				    <label for="message">Message</label><textarea name="message" rows="5" cols="20" autocomplete="off" required></textarea>
				    
				    {% include /contactus/contact-form-extra.html %}

				    <input type="text" name="_gotcha" style="display:none" />
				    <div class="text-center"><input type="submit" value="Send" class="button round"></div>
				    <input type="hidden" name="_next" value="/contactus" />
				    <input type="hidden" name="_subject" value="New customer request!" />
				</form>			
			</div>
		</div>
		<div class="row">		
			<div class="medium-12 column contact">
				<div class="row footer-social">
					<div class="small-12 columns text-center">
						<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-facebook-official"></a>
						<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-google-plus-square"></a>
						<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-linkedin-square"></a>
						<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-twitter-square"></a>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns text-center">
						<strong>Softelos LLC</strong>
						<p class="text-center">
							4925 Boonsboro Rd. #230<br>
							Lynchburg, 24503 VA <br>
							{% include /contactus/hello-email.html %}
							<i class="fa fa-phone-square"></i>&#40;&#52;&#51;&#52;&#41; &#51;&#55;&#51;&#45;&#48;&#48;&#57;&#53;
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>






</section>

{% include /contactus/faq.html %}