---
layout: default
id: contactus-thanks
sitemap: false
title: Contact Us | Softelos | Web Design + Web Development + SEO | Lynchburg (VA)
banner: http://placehold.it/1200x500
---



<section class="light content">

	<div class="show-for-medium-up">
		<div class="row">
		
			<div class="medium-8 column">

			<h2>What's next?</h2>
			<p>You should receive a reply from us by the end of the next business day.</p>
			<p>Occasionally we receive a very large number of messages, and your response may take a little longer. If this occurs, we appreciate your patience, and we assure you that you will receive a response. </p>
			<p>Thank you for taking the time to contact us.</p>
			</div>
			<div class="medium-4 column contact">
				<div class="row footer-social">
					<div class="small-12 columns">
						{% include /contactus/social.html %}
					</div>
				</div>
				<strong>Softelos LLC</strong>
				<p>
					1472 Old Farm Rd.<br>
					Lynchburg, 24503 VA
				</p>
				<strong>New business:</strong>
				<p>
					<a href="mailto:hello@softelos.com">hello@softelos.com</a><br>
					(434) 534-7761
				</p>
			</div>

		</div>
	</div>




	<div class="show-for-small-only">
		<div class="row">		
			<div class="medium-12 column text-center">
				<h1>Thank You</h1>
				<p>Your message was successfully sent to Softelos.</p>
				<p>You should receive a reply from us by the end of the next business day. Occasionally we receive a very large number of messages, and your response may take a little longer. If this occurs, we appreciate your patience, and we assure you that you will receive a response. </p>
				<p>Thank you for taking the time to contact us.</p>
				</div>
			</div>
		<div class="row">		
			<div class="medium-12 column contact">
				<div class="row footer-social">
					<div class="small-12 columns text-center">
						<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-facebook-official"></a>
						<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-google-plus-square"></a>
						<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-linkedin-square"></a>
						<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-twitter-square"></a>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns text-center">
						<strong>Softelos LLC</strong>
						<p class="text-center">
							1472 Old Farm Rd.<br>
							Lynchburg, 24503 VA <br>
							<a href="mailto:hello@softelos.com">hello@softelos.com</a><br>
							(434) 534-7761
						</p>
					</div>
				</div>
			</div>
		</div>			
	</div>

</section>

{% include /contactus/faq.html %}