<footer class="footer">
	<div class="row fullWidth">
		<div class="large-12 columns text-center">
			<ul class="small-block-grid-1 medium-block-grid-3">
				<li>
					<div class="row text-center footer-social">
						<div class="small-12 columns">
							<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-facebook-official"></a>
							<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-google-plus-square"></a>
							<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-linkedin-square"></a>
							<a href="http://www.facebook.com/softelos" target="_blank" class="fa fa-twitter-square"></a>
						</div>
					</div>
				</li>
				<li>
					<div class="small-12 columns">
						Made in Lynchburg (VA) &copy;{{ site.copyright }} {{ site.name }}
					</div>
				</li>
				<li><a href="{{ site.baseurl }}/contactus" class="button round"><i class="fa fa-envelope-o"></i> CONTACT US</a></li>
			</ul>
		</div>
	</div>
</footer>
