<footer class="footer">
	<div class="row fullWidth">
		<div class="large-12 columns text-center">
			<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-3">
				<li>
					<div class="row text-center footer-social">
						<div class="small-12 columns">
							{% include /contactus/social.html %}
						</div>
					</div>
				</li>
				<li>
					<div class="small-12 columns">
						CRAFTED IN LYNCHBURG (VA)<br>&copy;{{ site.copyright }} {{ site.name }}
					</div>
				</li>
				{% if page.id != 'hello' and page.id != 'contactus' %}
					<li><a href="{{ site.baseurl }}/contactus" class="button round"><i class="fa fa-envelope-o"></i> CONTACT US</a></li>
				{% endif %}

			</ul>
		</div>
	</div>
</footer>
