<header class="site-header {% if page.id == 'whatwedo' or page.id == 'contactus-thanks' or page.id == 'ourteam' %} smaller bar-no-reduction fixed {% endif %} show-for-large-up">
  <div class="sticky">

    <nav class="top-bar" role="navigation" data-topbar>
      <ul class="title-area">
        <li class="name">
          <a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/assets/img/logo.png" width="250px" height="102px" alt="Softelos Logo"></a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="{% if page.id == 'hello' %} active {% endif %}"><a href="{{ site.baseurl }}/" class="hvr-underline-from-center">Hello!</a></li>
          <li class="{% if page.id == 'whatwedo' %} active {% endif %}"><a href="{{ site.baseurl }}/whatwedo" class="hvr-underline-from-center">What We Do</a></li>
          <li class="{% if page.id == 'contactus' or page.id == 'contactus-thanks' %} active {% endif %}"><a href="{{ site.baseurl }}/contactus" class="hvr-underline-from-center">Contact Us</a></li>
          <li class="{% if page.id == 'notepad' %} active {% endif %}"><a href="{{ site.baseurl }}/notepad" class="hvr-underline-from-center">Notepad</a></li>
        </ul>
      </section>
    </nav>
  </div>   
</header>




<header class="site-header smaller bar-no-reduction show-for-medium-only fixed">
  <div class="sticky">

    <nav class="top-bar" role="navigation" data-topbar>
      <ul class="title-area">
        <li class="name">
          <a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/assets/img/logo.png" alt="Softelos Logo"></a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section id="mobile-topbar" class="top-bar-section">
        <ul class="right">
          <li class="{% if page.id == 'hello' %} active {% endif %}"><a href="{{ site.baseurl }}/" >Hello!</a></li>
          <li class="{% if page.id == 'whatwedo' %} active {% endif %}"><a href="{{ site.baseurl }}/whatwedo">What We Do</a></li>
          <li class="{% if page.id == 'contactus' %} active {% endif %}"><a href="{{ site.baseurl }}/contactus">Contact Us</a></li>
          <li class="{% if page.id == 'notepad' or page.id == 'contactus-thanks' %} active {% endif %}"><a href="{{ site.baseurl }}/notepad">Notepad</a></li>
        </ul>
      </section>
    </nav>
  </div>   
</header>

<header class="site-header small bar-no-reduction show-for-small-only">
  <div class="sticky">

    <nav class="top-bar" role="navigation" data-topbar>
      <ul class="title-area">
        <li class="name">
          <a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/assets/img/logo.png" alt="Softelos Logo"></a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section id="mobile-topbar" class="top-bar-section">
        <ul class="right">
          <li class="{% if page.id == 'hello' %} active {% endif %}"><a href="{{ site.baseurl }}/">Hello!</a></li>
          <li class="{% if page.id == 'whatwedo' %} active {% endif %}"><a href="{{ site.baseurl }}/whatwedo">What We Do</a></li>
          <li class="{% if page.id == 'contactus' %} active {% endif %}"><a href="{{ site.baseurl }}/contactus">Contact Us</a></li>
          <li class="{% if page.id == 'notepad' %} active {% endif %}"><a href="{{ site.baseurl }}/notepad">Notepad</a></li>
        </ul>
      </section>
    </nav>
  </div>   
</header>
