    <script src="{{ site.baseurl }}/bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="{{ site.baseurl }}/bower_components/foundation/js/foundation.min.js"></script>   
    <script src="{{ site.baseurl }}/js/app.js"></script>   
    
	
	<script>
  		// Foundation load
    	$(document).foundation();
	</script>
	
	<script>
    	// General top-bar & banner control
		$(document).ready(function(){
			var scrolled=false;
			var moved=false;
			var lastY=0;

			$(window).scroll(function(){
				var shrinkOn=100;
				var $header=$('header.show-for-large-up');
				if(!$header.hasClass('bar-no-reduction')){

					if(!$header.hasClass('notepad')){
						var $banner=$('div#banner-intro');
						var distanceY=$(window).scrollTop();
						
						// Top padding for when the top nave goes fixed
						if(distanceY>0){
							$('div.banner-{{ page.id }}').css('margin-top','0px');
							lastY=distanceY;
							moved=true;
						}
						if((distanceY<lastY) && (moved)){
							$('div.banner-{{ page.id }}').css('margin-top','-100px');
							moved=false;
						}

						// Control of the size of the top bar
						if(distanceY>shrinkOn){
							$header.removeClass('bigger');
							$header.addClass('fixed');
							$header.addClass('smaller');
							$banner.removeClass('fadeIn');
				            $banner.addClass('animated fadeOut');
				            scrolled=true;
						}else{
							$header.removeClass('smaller');
							$header.addClass('bigger');
							$('div#{{ page.id }}-toppadding').hide();
							if(scrolled){
								$header.removeClass('fixed');
								$banner.removeClass('fadeOut');
								$banner.addClass('animated fadeIn');
								scrolled=false;
							}
						}
					}
				}
			});
		});
	</script>	

	{% if page.id == "hello" %}
		<script>
			// icon-bar achors control
			$(document).ready(function(){
				// Smooth scrollz				
				$('a#go-down-button').click(function(e){
					e.preventDefault();
					// Calc offset
					// 145 is = 100 (when top bar is big) and 45 (when top bar is small)
					var pos=$('a[name="section-start"]').offset().top-45;
					$('html,body').scrollTo(pos);
					
				});
			});
		</script>
	{% endif %}

	{% if page.id == "whatwedo" %}
		
		<script>
			// icon-bar achors control
			$(document).ready(function(){
				// Smooth scrollz
				if($('div#services-icon-bar')!=null){
					$('div#services-icon-bar a.item').click(function(e){
						e.preventDefault();						
						// Calc offset
						var offset=0;
						if($('div#services-icon-bar').hasClass('fixedPosition')) offset=$('div#services-icon-bar').outerHeight()+$('nav.top-bar').outerHeight();
						else offset=($('div#services-icon-bar').outerHeight()*2)+$('nav.top-bar').outerHeight();
						// Calc final position
						var name=$(this).attr('href').substr(1);
						var pos=$('a[name="'+name+'"]').parent('section').offset().top-offset;
						$('html,body').scrollTo(pos);
						console.log(pos);
					});
				}
			});
		</script>

	
		<script>
			$(document).ready(function(){
				$(window).scroll(function(){
					if($('div#services-icon-bar')!=null){
						var a;
						var sections=['{{ site.textWebsites }}','{{ site.textWebDev }}','{{ site.textResponsive }}','{{ site.textCMS }}','{{ site.textECommerce}}','{{ site.textSEO }}'];
						// Gest size of bars
						var barSize=$('nav.top-bar').outerHeight();
						var miniBarSize=$('div#services-icon-bar').outerHeight();
						var offset=barSize+miniBarSize+45;

						console.log(offset);

						for(a=0;a<sections.length;a++){
							var name=sections[a];

							var sectionSize=$('a[name="'+name+'"]').parent('section').outerHeight();							
							var sectionPos=$('section a[name="'+name+'"]').offset().top;
							var cursor=$(this).scrollTop()+offset;

							if((cursor>sectionPos) && (cursor<(sectionPos+sectionSize))) $('div#services-icon-bar a[href="#'+name+'"]').addClass('active');
			    			else $('div#services-icon-bar a[href="#'+name+'"]').removeClass('active');


			    		}
			    	}
				});
			});
		</script>
		<script>
			// Services icon-bar control
			$(document).ready(function(){
				$(window).scroll(function(){
					var shrinkOn=45;
					var windowTop=$(window).scrollTop();
					var $guide=$('div#services-icon-bar-guide');
					var $iconBar=$('div#services-icon-bar');

						var topped=false;
						var iconBarY;
						if($iconBar){
							iconBarY=$guide.offset().top;
							var posY=iconBarY-windowTop;
							if(posY<=shrinkOn){
								$iconBar.addClass('fixedPosition');
								$('div#services-top-padding').addClass('expand');
								$('div#services-top-padding').removeClass('collapse');							
							}else{
								$iconBar.removeClass('fixedPosition');
								$('div#services-top-padding').removeClass('expand');
								$('div#services-top-padding').addClass('collapse');							
							}
						}
				});
			});	
		</script>
	{% endif %}

 
