---
layout: notepad
id: notepad
subid: advice
title: The Notepad
---

{% include notepad/top-section.html %}

{% for page in site.posts %}

	{% if page.categories contains 'advice' %}

		<a href="{{ site.baseurl }}{{ page.url }}">{% include notepad/banner.html %}</a>
		<section class="content">
			<div class="row"><div class="small-12">
				<p>{{ page.date | date: '%B %d, %Y' }}</p>
			</div></div>
			<div class="row">
				<div class="small-12">
					<h1>{{ page.subtitle }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="small-12">
					<p>{{ page.excerpt }}</p>
				</div>
			</div>
		</section>

	{% endif %}

{% endfor %}
