---
layout: default
id: notepad
subid: events
title: The Notepad
---

<div class="row">
	<div class="small-12 columns">
		{% include notepad/bar.html %}
	</div>	
</div>

{% for page in site.posts %}

	{% if page.categories contains 'events' %}

		<section class="content">
			<div class="row"><div class="small-12">
				<p>{{ page.date | date: '%B %d, %Y' }}</p>
			</div></div>
			<div class="row">
				<div class="small-12 columns post-link">
					<h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.subtitle }}</a></h1>
				</div>
			</div>
			<div class="row">
				<div class="small-12">
					<p>{{ page.excerpt }}</p>
				</div>
			</div>
		</section>

	{% endif %}

{% endfor %}
