---
layout: default
id: notepad
title: The Notepad | Softelos | Web Design + Web Development + SEO | Lynchburg (VA)
---

<div class="row">
	<div class="small-10 columns">
		{% for page in site.posts %}

			<section class="content light">
				<div class="row">
					<div class="small-12">
						<h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.subtitle }}</a></h1>
					</div>
				</div>
				<div class="row"><div class="small-12">
					<p>{{ page.date | date: '%B %d, %Y' }} | <a href="{{ site.baseurl }}/notepad/{{ page.categories }}.html">{{ page.categories }}</a></p>
				</div></div>
				<div class="row">
					<div class="small-12">
						<p>{{ page.excerpt }}</p>
					</div>
				</div>
				
				<div class="row">
					<div class="small-12">
						{% include notepad/social.html %}
					</div>
				</div>

			</section>

		{% endfor %}
	</div>
	<div class="small-2 columns">
		{% include notepad/top-section.html %}
	</div>	
</div>
