---
layout: default
id: notepad
subid: news
title: "The Notepad"
description: "The notepad is where you can read about what we do. Softelos is a Web Design and Custom Web Development Agency located in Lynchburg, VA"
---

<div class="row show-for-medium-up">
	<div class="small-12 columns">
		{% include notepad/bar.html %}
	</div>	
</div>

{% for page in site.posts %}

	{% if page.categories contains 'news' %}

		<section class="content">
		<div class="row">
			<div class="small-1 columns post-author">
				<div class="post-author blog blog-{{ page.author }}-small"></div>
			</div>
		
			<div class="small-11 columns">
				<p class="post-info">{{ page.date | date: '%B %d, %Y' }} | <a href="{{ site.baseurl }}/notepad/{{ page.categories }}.html">{{ page.categories }}</a></p>
				<p class="author-name">{{ page.author-name }}</p>
			</div>
			<div class="row">
				<div class="small-12 columns post-link">
					<h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.subtitle }}</a></h1>
				</div>
			</div>
			<div class="row">
				<div class="small-12">
					<p>{{ page.excerpt }}</p>
					<p><a href="{{ site.baseurl }}{{ page.url }}">Read more..</a></p>					
				</div>
			</div>
		</section>

	{% endif %}

{% endfor %}
