<div class="show-for-medium-up">
	<section class="light content">
		<a name="{{ site.textWebsitesShort }}"></a>
		<div class="row" data-equalizer>
			<div class="medium-7 column" data-equalizer-watch>
				<h2 class="service-title">{{ site.textWebsites }}</h2>
				<p>A great website can lead to your next client, sale or partnership, so it's important that you get it right. Softelos designs beautiful and meaningful websites that connect your business with your audience.</p>
				<p>Whether an established entity or a new start, the principles of great design and modern development are applicable to every web project we engage. Our outstanding designs fuse functionality with ease of use to display a clear message, making your website attractive, functional and user friendly.</p>
				<p>We pick the right technology and approach for each project we develop. We love crafting our web designs from scratch in order to provide a product that is 100% original and that delivers the best result and maximum performance. We are experts in HTML, CSS and JavaScript technologies. We also love organization and keeping the structure of our projects clean, so we make use of frameworks such as Foundation or Bootstrap. We are also experts in dynamic websites which we enjoy developing with jQuery and AngularJS frameworks.</p>
				<p>And it doesn’t end there, we are an agency that offers truly professional, creative, end-to-end web design services, delivered by a friendly team who provides unrivalled support.</p>
				<p>If you want to know more about how we approach and design websites, check <a href="{{ site.baseurl }}/work/2015/02/08/how-we-made-softelos.html">how we created www.softelos.com</a>.</p>
				<p class="text-center"><a href="{{ site.baseurl }}/contactus" class="button round">Contact Us</a></p>						
			</div>
			<div class="medium-5 column text-center" data-equalizer-watch>
				<div class="whatwedo whatwedo-Web"></div>
			</div>
		</div>
	</section>

	<section class="dark content show-for-medium-up">
		<a name="{{ site.textCMSShort }}"></a>
		<div class="row" data-equalizer>
			<div class="medium-5 column text-center" data-equalizer-watch>
				<div class="whatwedo whatwedo-cms"></div>
			</div>
			<div class="medium-7 column" data-equalizer-watch>
				<h2 class="service-title">{{ site.textCMS }}</h2>
				<p>We give our customers the chance to take control of their websites without the need for fancy technical knowledge or lengthy training sessions.</p>
				<p>Softelos provides custom websites built on top of a Content Management System that allows you to enter text like you would in Microsoft Word, add images as if you were attaching a file to an email, and add downloads with the click of a button. Simple as that!</p>
				<p>We are CMS experts, with proficiency in implementing WordPress, Drupal and many more. We are also experts in non-database based and static CMSs which produce websites that are very fast and easy to host, sometimes even for free!. We will help choose a system that best suits your individual needs.</p>
				<p>Our personalized customer support and training services will ensure that as your business changes, so too can your website.</p>
				<p class="text-center"><a href="{{ site.baseurl }}/contactus" class="button round">Contact Us</a></p>
			</div>
		</div>
	</section>

	<section class="light content show-for-medium-up">
		<a name="{{ site.textWebDevShort }}"></a>
		<div class="row" data-equalizer>
			<div class="medium-7 column" data-equalizer-watch>
				<h2 class="service-title">{{ site.textWebDev }}</h2>
				<p>When you need something more complex than a conventional website, Solfelos can provide a custom web-based application tailored to your needs.</p> 
				<p>We are experts in building software applications that run on web browsers and that require complex interaction with the users and realtime data procesing. Some examples of web applications that we've developed are online communities, intranets/extranets, business portals, forums, online monitoring systems, collaboration portals, ERPs and CRMs.</p>
				<p>We are experts in server-side technologies such as PHP, node.js, MySQL and MongoDB, as well as real time streaming frameworks like socket.io. We also code following the Model-View-Controller standard in order to make sure that your project can be updated in the future with little effort.</p>
				<p>No matter how big your web-based application or project is, we offer professional web development services at an affordable price and with the highest standard of code quality. When it comes to all aspects of custom web development, you are in safe hands with Softelos!</p>
				<p class="text-center"><a href="{{ site.baseurl }}/contactus" class="button round">Contact Us</a></p>						
			</div>		
			<div class="medium-5 column text-center" data-equalizer-watch>
				<div class="whatwedo whatwedo-WebDevelopment"></div>
			</div>	
		</div>
	</section>

	<section class="dark content show-for-medium-up">
		<a name="{{ site.textResponsiveShort }}"></a>
		<div class="row" data-equalizer>
			<div class="medium-5 column text-center" data-equalizer-watch>
				<div class="whatwedo whatwedo-responsive"></div>
			</div>						
			<div class="medium-7 column" data-equalizer-watch>
				<h2 class="service-title">{{ site.textResponsive }}</h2>
				<p>Web design and development is no longer limited to the desktop. With the popularity of portable devices continually increasing, it comes as no surprise that mobile and tablet internet usage is set to overtake desktop internet use by 2016. If you’re web site or web application isn’t mobile responsive yet, Softelos can help.</p>
				<p>We are experts when it comes to responsive web design, creating websites and web applications that provide the highest user experience no matter the device. All the websites and web applications we develop for our customers are designed from scratch with mobile responsive in mind. However if you already have a website that is not into the mobile age yet, no worries, we can adapt it making the transition very simple and easy for you and your business. </p>
				<p>We use flexible CSS grids and jQuery plugins to create mobile responsive designs that fit and work on a range of devices. Gone are the days of building multiple websites for different browsers, saving our customers a lot of valuable time and money.</p>
				<p class="text-center"><a href="{{ site.baseurl }}/contactus" class="button round">Contact Us</a></p>
			</div>
		</div>
	</section>


	<section class="light content show-for-medium-up">
		<a name="{{ site.textECommerceShort }}"></a>
		<div class="row" data-equalizer>
			<div class="medium-7 column" data-equalizer-watch>
				<h2 class="service-title">{{ site.textECommerce }}</h2>
				<p>If you’re not selling online yet, you are losing market share to those who do. Softelos is here to help you enter the world of online commerce and bring your business to the next level.</p> 
				<p>Whether you sell to other businesses or to final consumers, we have the right solution for you. We develop eCommerce websites with ready-to-use systems such as Magento, Opencart, Shopify and Wordpress, but we can also develop a more advanced and customized system tailored to your needs.</p>
				<p>We are also experts in PayPal integration, secure credit card processing, security certificates, online product databases and much more.</p>
				<p>We will help you choose the best solution for your business.</p>
				<p class="text-center"><a href="{{ site.baseurl }}/contactus" class="button round">Contact Us</a></p>
			</div>
			<div class="medium-5 column text-center" data-equalizer-watch>
				<div class="whatwedo whatwedo-ecommerce"></div>
			</div>								
		</div>
	</section>

	<section class="dark content show-for-medium-up">
		<a name="{{ site.textSEOShort }}"></a>
		<div class="row" data-equalizer>
			<div class="medium-5 column text-center" data-equalizer-watch>
				<div class="whatwedo whatwedo-seo"></div>
			</div>						
			<div class="medium-7 column" data-equalizer-watch>
				<h2 class="service-title">{{ site.textSEO }}</h2>
				<p>Search engines such as Google, Bing and Yahoo are the most important drivers of traffic to your website. The results of these search engines are based on the relevance to the user’s search and website authority. Search Engine Optimization (SEO) is the art of giving your website authority and making sure it shows up when relevant keywords are searched.</p>
				<p>However in order to gain authority and relevance on the internet you need a fast website, a well made design, a great content and links to other websites with quality content. Softelos provides all of them.</p>
				<p>All the websites we build for our customers are designed with SEO in mind, however if you already have a website that you want to rank up in the most important search engines, we can help with our SEO plans.</p>
			</div>
		</div>
	</section>

</div>





<div class="show-for-small-only services-small">

	<section class="light content">
		<a name="{{ site.textWebsitesShort }}"></a>
		<div class="row">
			<div class="small-12 column text-center">
				<h2 class="service-title">{{ site.textWebsites }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">
				<div class="whatwedo whatwedo-Web"></div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">
				<p>A great website can lead to your next client, sale or partnership, so it's important that you get it right. Softelos designs beautiful and meaningful websites that connect your business with your audience.</p>
				<p>Whether an established entity or a new start, the principles of great design and modern development are applicable to every web project we engage. Our outstanding designs fuse functionality with ease of use to display a clear message, making your website attractive, functional and user friendly.</p>
				<p>We pick the right technology and approach for each project we develop. We love crafting our web designs from scratch in order to provide a product that is 100% original and that delivers the best result and maximum performance. We are experts in HTML, CSS and JavaScript technologies. We also love organization and keeping the structure of our projects clean, so we make use of frameworks such as Foundation or Bootstrap. We are also experts in dynamic websites which we enjoy developing with jQuery and AngularJS frameworks.</p>
				<p>And it doesn’t end there, we are an agency that offers truly professional, creative, end-to-end web development services, delivered by a friendly team who provides unrivalled support.</p>
				<p>If you want to know more about how we approach and design websites, check <a href="{{ site.baseurl }}/work/2015/02/08/how-we-made-softelos.html">how we created www.softelos.com</a>.</p>
				<p class="text-center"><a href="{{ site.baseurl }}/contactus" class="button round">Contact Us</a></p>				
			</div>
		</div>
	</section>

	<section class="dark content">
		<a name="{{ site.textCMSShort }}"></a>
		<div class="row">
			<div class="small-12 column text-center">
				<h2 class="service-title">{{ site.textCMS }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">
				<div class="whatwedo whatwedo-cms"></div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">		
				<p>We give our customers the chance to take control of their websites without the need for fancy technical knowledge or lengthy training sessions.</p>
				<p>Softelos provides custom websites built on top of a Content Management System that allows you to enter text like you would in Microsoft Word, add images as if you were attaching a file to an email, and add downloads with the click of a button. Simple as that!</p>
				<p>We are CMS experts, with proficiency in implementing WordPress, Drupal and many more. We are also experts in non-database based and static CMSs which produce websites that are very fast and easy to host, sometimes even for free!. We will help choose a system that best suits your individual needs.</p>
				<p>Our personalized customer support and training services will ensure that as your business changes, so too can your website.</p>
				<p class="text-center"><a href="{{ site.baseurl }}/contactus" class="button round">Contact Us</a></p>			
			</div>
		</div>
	</section>	

	<section class="light content">
		<a name="{{ site.textWebDevShort }}"></a>
		<div class="row">
			<div class="small-12 column text-center">
				<h2 class="service-title">{{ site.textWebDev }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">
				<div class="whatwedo whatwedo-WebDevelopment"></div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">		
				<p>When you need something more complex than a conventional website, Solfelos can provide a custom web-based application tailored to your needs.</p> 
				<p>We are experts in building software applications that run on web browsers and that require complex interaction with the users and realtime data procesing. Some examples of web applications that we've developed are online communities, intranets/extranets, business portals, forums, online monitoring systems, collaboration portals, ERPs and CRMs.</p>
				<p>We are experts in server-side technologies such as PHP, node.js, MySQL and MongoDB, as well as real time streaming frameworks like socket.io. We also code following the Model-View-Controller standard in order to make sure that your project can be updated in the future with little effort.</p>
				<p>No matter how big your web-based application or project is, we offer professional web development services at an affordable price and with the highest standard of code quality. When it comes to all aspects of custom web development, you are in safe hands with Softelos!</p>
				<p class="text-center"><a href="{{ site.baseurl }}/contactus" class="button round">Contact Us</a></p>							
			</div>
		</div>
	</section>


	<section class="dark content">
		<a name="{{ site.textResponsiveShort }}"></a>
		<div class="row">
			<div class="small-12 column text-center">
				<h2 class="service-title">{{ site.textResponsive }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">
				<div class="whatwedo whatwedo-responsive"></div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">		
				<p>Web design and development is no longer limited to the desktop. With the popularity of portable devices continually increasing, it comes as no surprise that mobile and tablet internet usage is set to overtake desktop internet use by 2016. If you’re web site or web application isn’t mobile responsive yet, Softelos can help.</p>
				<p>We are experts when it comes to responsive web design, creating websites and web applications that provide the highest user experience no matter the device. All the websites and web applications we develop for our customers are designed from scratch with mobile responsive in mind. However if you already have a website that is not into the mobile age yet, no worries, we can adapt it making the transition very simple and easy for you and your business. </p>
				<p>We use flexible CSS grids and jQuery plugins to create mobile responsive designs that fit and work on a range of devices. Gone are the days of building multiple websites for different browsers, saving our customers a lot of valuable time and money.</p>
				<p class="text-center"><a href="{{ site.baseurl }}/contactus" class="button round">Contact Us</a></p>				
			</div>
		</div>
	</section>	

	<section class="light content">
		<a name="{{ site.textECommerceShort }}"></a>
		<div class="row">
			<div class="small-12 column text-center">
				<h2 class="service-title">{{ site.textECommerce }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">
				<div class="whatwedo whatwedo-ecommerce"></div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">		
				<p>If you’re not selling online yet, you are losing market share to those who do. Softelos is here to help you enter the world of online commerce and bring your business to the next level.</p> 
				<p>Whether you sell to other businesses or to final consumers, we have the right solution for you. We develop eCommerce websites with ready-to-use systems such as Magento, Opencart, Shopify and Wordpress, but we can also develop a more advanced and customized system tailored to your needs.</p>
				<p>We are also experts in PayPal integration, secure credit card processing, security certificates, online product databases and much more.</p>
				<p>We will help you choose the best solution for your business.</p>
				<p class="text-center"><a href="{{ site.baseurl }}/contactus" class="button round">Contact Us</a></p>		
			</div>
		</div>
	</section>	


	<section class="dark content">
		<a name="{{ site.textSEOShort }}"></a>
		<div class="row">
			<div class="small-12 column text-center">
				<h2 class="service-title">{{ site.textSEO }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">
				<div class="whatwedo whatwedo-seo"></div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 column text-center">		
				<p>Search engines such as Google, Bing and Yahoo are the most important drivers of traffic to your website. The results of these search engines are based on the relevance to the user’s search and website authority. Search Engine Optimization (SEO) is the art of giving your website authority and making sure it shows up when relevant keywords are searched.</p>
				<p>However in order to gain authority and relevance on the internet you need a fast website, a well made design, a great content and links to other websites with quality content. Softelos provides all of them.</p>
				<p>All the websites we build for our customers are designed with SEO in mind, however if you already have a website that you want to rank up in the most important search engines, we can help with our SEO plans.</p>
			</div>
		</div>
	</section>	

</div>

