<section class="light content process show-for-medium-up">
<a name="ourprocess"></a>
	<div class="row">
		<div class="small-centered text-center">			
			<h2>Our Process</h2>
		</div>
	</div>
	<div class="row" data-equalizer>
		<div class="medium-6 column text-center" data-equalizer-watch>
			<div class="process process-process"></div>
		</div>	
		<div class="medium-6 column" data-equalizer-watch>
			<h3>.. discuss your needs</h3>
			<p>First we'll get in touch with you to learn about your business and discuss your needs and requirements. This is a key stage for all projects we work on.</p>
			<h3>.. think of a unique idea</h3>
			<p>After we define the list of requirements from the discussion stage, we begin thinking of amazing ideas that will make your project unique.</p>
			<h3>.. design the concept</h3>
			<p>After the wireframes are defined and all functionality is planned, we are able to turn those ideas into visuals that will amaze you and your potential site visitors.</p>
			<h3>.. you comment and we amend</h3>
			<p>We'll meet to discuss the initial visual concept and refine based on your feedback. Adding extra touches here and there just enhaces the design for perfection.</p>
			<h3>.. website development</h3>
			<p>Once all the designs have been completed, it's time to get the programming started. At this stage all features and functionality would have been clarified. Our developers use this specification to build the site.</p>
			<h3>.. show it to the world</h3>
			<p>After intense testing and another round of feedback, we prepare to publish the master piece to the world. This is usually done by announcing the site as an email newsletter that we design and send to your customers.</p>
		</div>
	</div>
</section>


<section class="light content process show-for-small-only process-small">
	<div class="row">
		<div class="small-centered text-center">			
			<h2>Our Process</h2>
		</div>
	</div>

	<div class="row">
		<div class="medium-6 column text-center">
			<div class="process process-process-discuss"></div>
			<h3>.. discuss your needs</h3>
			<p>First we'll get in touch with you to learn about your business and discuss your needs and requirements. This is a key stage for all projects we work on.</p>

			<div class="process process-process-think"></div>
			<h3>.. think of a unique idea</h3>
			<p>After we define the list of requirements from the discussion stage, we begin thinking of amazing ideas that will make your project unique.</p>

			<div class="process process-process-design"></div>
			<h3>.. design the concept</h3>
			<p>After the wireframes are defined and all functionality is planned, we are able to turn those ideas into visuals that will amaze you and your potential site visitors.</p>

			<div class="process process-process-feedback"></div>
			<h3>.. you comment and we amend</h3>
			<p>We'll meet to discuss the initial visual concept and refine based on your feedback. Adding extra touches here and there just enhaces the design for perfection.</p>

			<div class="process process-process-develop"></div>
			<h3>.. website development</h3>
			<p>Once all the designs have been completed, it's time to get the programming started. At this stage all features and functionality would have been clarified. Our developers use this specification to build the site.</p>

			<div class="process process-process-show"></div>
			<h3>.. show it to the world</h3>
			<p>After intense testing and another round of feedback, we prepare to publish the master piece to the world. This is usually done by announcing the site as an email newsletter that we design and send to your customers.</p>
		</div>
	</div>
</section>