<div id="services-icon-bar-guide"></div>
<div class="show-for-large-up">
	<div id="services-icon-bar" class="icon-bar six-up">
		<a href="#{{ site.textWebsites }}" class="item">
			<img src="{{ site.iconWebsites }}" alt="">
		</a>
		<a href="#{{ site.textWebDev }}" class="item">
			<img src="{{ site.iconWebDev }}" alt="">
		</a>
		<a href="#{{ site.textResponsive }}" class="item">
			<img src="{{ site.iconResponsive }}" alt="">
		</a>
		<a href="#{{ site.textCMS }}" class="item">
			<img src="{{ site.iconCMS }}" alt="">
		</a>
		<a href="#{{ site.textECommerce }}" class="item">
			<img src="{{ site.iconECommerce }}" alt="">
		</a>
		<a href="#{{ site.textSEO }}" class="item">
			<img src="{{ site.iconSEO }}" alt="">
		</a>
	</div>
</div>


<div class="show-for-medium-only">
	<div class="icon-bar three-up">
		<a href="#{{ site.textWebsites }}" class="item">
			<img src="{{ site.iconWebsites }}" alt="">
		</a>
		<a href="#{{ site.textWebDev }}" class="item">
			<img src="{{ site.iconWebDev }}" alt="">
		</a>
		<a href="#{{ site.textResponsive }}" class="item">
			<img src="{{ site.iconResponsive }}" alt="">
		</a>
	</div>
	<div class="icon-bar three-up">	
		<a href="#{{ site.textCMS }}" class="item">
			<img src="{{ site.iconCMS }}" alt="">
		</a>
		<a href="#{{ site.textECommerce }}" class="item">
			<img src="{{ site.iconECommerce }}" alt="">
		</a>
		<a href="#{{ site.textSEO }}" class="item">
			<img src="{{ site.iconSEO }}" alt="">
		</a>
	</div>
</div>

<div class="show-for-small-only">
	<div class="icon-bar two-up">
		<a href="#{{ site.textWebsites }}" class="item">
			<img src="{{ site.iconWebsites }}" alt="">
		</a>
		<a href="#{{ site.textWebDev }}" class="item">
			<img src="{{ site.iconWebDev }}" alt="">
		</a>
	</div>
	<div class="icon-bar two-up">	
		<a href="#{{ site.textResponsive }}" class="item">
			<img src="{{ site.iconResponsive }}" alt="">
		</a>
		<a href="#{{ site.textCMS }}" class="item">
			<img src="{{ site.iconCMS }}" alt="">
		</a>
	</div>
	<div class="icon-bar two-up">
		<a href="#{{ site.textECommerce }}" class="item">
			<img src="{{ site.iconECommerce }}" alt="">
		</a>
		<a href="#{{ site.textSEO }}" class="item">
			<img src="{{ site.iconSEO }}" alt="">
		</a>
	</div>
</div>