<div id="services-icon-bar-guide"></div>
<div class="show-for-large-up">
	<div id="services-icon-bar" class="icon-bar six-up">
		<a href="#{{ site.textWebsites }}" class="item" aria-label="Websites">
			<img src="{{ site.iconWebsites }}" width="30px" height="30px" alt="Websites">
		</a>
		<a href="#{{ site.textWebDev }}" class="item" aria-label="Web Development">
			<img src="{{ site.iconWebDev }}" width="30px" height="30px" alt="Web Development">
		</a>
		<a href="#{{ site.textResponsive }}" class="item" aria-label="Mobile & Responsive">
			<img src="{{ site.iconResponsive }}" width="30px" height="30px" alt="Mobile & Responsive">
		</a>
		<a href="#{{ site.textCMS }}" class="item" aria-label="Content Management Systems">
			<img src="{{ site.iconCMS }}" width="30px" height="30px" alt="Content Management Systems">
		</a>
		<a href="#{{ site.textECommerce }}" class="item" aria-label="Online Stores">
			<img src="{{ site.iconECommerce }}" width="30px" height="30px" alt="Online Stores">
		</a>
		<a href="#{{ site.textSEO }}" class="item" aria-label="Search Engine Optimization">
			<img src="{{ site.iconSEO }}" width="30px" height="30px" alt="Search Engine Optimization">
		</a>
	</div>
</div>


<div class="show-for-medium-only">
	<div class="icon-bar three-up">
		<a href="#{{ site.textWebsites }}" class="item">
			<img src="{{ site.iconWebsites }}" width="30px" height="30px" alt="Websites">
		</a>
		<a href="#{{ site.textWebDev }}" class="item">
			<img src="{{ site.iconWebDev }}" width="30px" height="30px" alt="Web Development">
		</a>
		<a href="#{{ site.textResponsive }}" class="item">
			<img src="{{ site.iconResponsive }}" width="30px" height="30px" alt="Mobile & Responsive">
		</a>
	</div>
	<div class="icon-bar three-up">	
		<a href="#{{ site.textCMS }}" class="item">
			<img src="{{ site.iconCMS }}" width="30px" height="30px" alt="Content Management Systems">
		</a>
		<a href="#{{ site.textECommerce }}" class="item">
			<img src="{{ site.iconECommerce }}" width="30px" height="30px" alt="Online Stores">
		</a>
		<a href="#{{ site.textSEO }}" class="item">
			<img src="{{ site.iconSEO }}" width="30px" height="30px" alt="Search Engine Optimization">
		</a>
	</div>
</div>

<div class="show-for-small-only">
	<div class="icon-bar two-up">
		<a href="#{{ site.textWebsites }}" class="item">
			<img src="{{ site.iconWebsites }}" width="30px" height="30px" alt="Websites">
		</a>
		<a href="#{{ site.textWebDev }}" class="item">
			<img src="{{ site.iconWebDev }}" width="30px" height="30px" alt="Web Development">
		</a>
	</div>
	<div class="icon-bar two-up">	
		<a href="#{{ site.textResponsive }}" class="item">
			<img src="{{ site.iconResponsive }}" width="30px" height="30px" alt="Mobile & Responsive">
		</a>
		<a href="#{{ site.textCMS }}" class="item">
			<img src="{{ site.iconCMS }}" width="30px" height="30px" alt="Content Management Systems">
		</a>
	</div>
	<div class="icon-bar two-up">
		<a href="#{{ site.textECommerce }}" class="item">
			<img src="{{ site.iconECommerce }}" width="30px" height="30px" alt="Online Stores">
		</a>
		<a href="#{{ site.textSEO }}" class="item">
			<img src="{{ site.iconSEO }}" width="30px" height="30px" alt="Search Engine Optimization">
		</a>
	</div>
</div>