<div id="services-icon-bar-guide"></div>
<div class="show-for-large-up">
	<div id="services-icon-bar" class="icon-bar six-up">
		<a href="#{{ site.textA }}" class="item">
			<img src="{{ site.iconA }}" alt="">
			<label>{{ site.textAShort }}</label>
		</a>
		<a href="#{{ site.textB }}" class="item">
			<img src="{{ site.iconB }}" alt="">
			<label>{{ site.textBShort }}</label>
		</a>
		<a href="#{{ site.textC }}" class="item">
			<img src="{{ site.iconC }}" alt="">
			<label>{{ site.textCShort }}</label>
		</a>
		<a href="#{{ site.textD }}" class="item">
			<img src="{{ site.iconD }}" alt="">
			<label>{{ site.textDShort }}</label>
		</a>
		<a href="#{{ site.textE }}" class="item">
			<img src="{{ site.iconE }}" alt="">
			<label>{{ site.textEShort }}</label>
		</a>
		<a href="#{{ site.textF }}" class="item">
			<img src="{{ site.iconF }}" alt="">
			<label>{{ site.textFShort }}</label>
		</a>
	</div>
</div>


<div class="show-for-medium-only">
	<div class="icon-bar three-up">
		<a href="#{{ site.textA }}" class="item">
			<img src="{{ site.iconA }}" alt="">
			<label>{{ site.textAShort }}</label>
		</a>
		<a href="#{{ site.textB }}" class="item">
			<img src="{{ site.iconB }}" alt="">
			<label>{{ site.textBShort }}</label>
		</a>
		<a href="#{{ site.textC }}" class="item">
			<img src="{{ site.iconC }}" alt="">
			<label>{{ site.textCShort }}</label>
		</a>
	</div>
	<div class="icon-bar three-up">	
		<a href="#{{ site.textD }}" class="item">
			<img src="{{ site.iconD }}" alt="">
			<label>{{ site.textDShort }}</label>
		</a>
		<a href="#{{ site.textE }}" class="item">
			<img src="{{ site.iconE }}" alt="">
			<label>{{ site.textEShort }}</label>
		</a>
		<a href="#{{ site.textF }}" class="item">
			<img src="{{ site.iconF }}" alt="">
			<label>{{ site.textFShort }}</label>
		</a>
	</div>
</div>

<div class="show-for-small-only">
	<div class="icon-bar two-up">
		<a href="#{{ site.textA }}" class="item">
			<img src="{{ site.iconA }}" alt="">
			<label>{{ site.textAShort }}</label>
		</a>
		<a href="#{{ site.textB }}" class="item">
			<img src="{{ site.iconB }}" alt="">
			<label>{{ site.textBShort }}</label>
		</a>
	</div>
	<div class="icon-bar two-up">	
		<a href="#{{ site.textC }}" class="item">
			<img src="{{ site.iconC }}" alt="">
			<label>{{ site.textCShort }}</label>
		</a>
		<a href="#{{ site.textD }}" class="item">
			<img src="{{ site.iconD }}" alt="">
			<label>{{ site.textDShort }}</label>
		</a>
	</div>
	<div class="icon-bar two-up">
		<a href="#{{ site.textE }}" class="item">
			<img src="{{ site.iconE }}" alt="">
			<label>{{ site.textEShort }}</label>
		</a>
		<a href="#{{ site.textF }}" class="item">
			<img src="{{ site.iconF }}" alt="">
			<label>{{ site.textFShort }}</label>
		</a>
	</div>
</div>