<a name="faq"></a>
<section class="dark content">
	<div class="row">
		<div class="small-centered text-center">
			<h2 class="faq">Frequently asked questions</h2>
		</div>
	</div>
	<div class="row">
		<ul class="small-block-grid-1 medium-block-grid-2">			
			<li>
				<p class="question"><i class="fa fa-comment-o fa-flip-horizontal"></i><b>why the name?</b></p>
				<p>"Telos" is a Greek word that means end or purpose of something. We combine this word with "software" to express our identity as a team whose passions are web design and software development, which we use with one purpose: help your business thrive.</p>
			</li>
			<li>
				<p class="question"><i class="fa fa-comment-o fa-flip-horizontal"></i><b>who do you work with?</b></p>
				<p>We love working with anyone who understands the value of what we do and wants to use web design, web development and software technologies in general to make their businesses more successful and competitive online.</p>
			</li>
			<li>
				<p class="question"><i class="fa fa-comment-o fa-flip-horizontal"></i><b>how much do you charge?</b></p>
				<p>Our pricing is based on the amount of hours your project will take. In order to determine this, we'll need to have a brief discussion about your project, the level of detail involved and technical requirements. The best way to start this process is filling our <a href="" class="contact-form">contact form</a> and we’ll get back to you as soon as possible.</p>
			</li>
			<li>
				<p class="question"><i class="fa fa-comment-o fa-flip-horizontal"></i><b>why Softelos when I could build a web myself?</b></p>
				<p>Planning, designing, building and developing websites and complex web applications is what we do everyday. We’ve seen what works and what doesn’t. Why re-invent the wheel when you could use our expertise to create your vision?. Check <a href="{{ site.baseurl }}/work/2015/02/08/how-we-made-softelos.html">how we made this website</a> in order to see our process.</p>
			</li>			
			<li>
				<p class="question"><i class="fa fa-comment-o fa-flip-horizontal"></i><b>how long will it take you to complete my project?</b></p>
				<p>Each project is different, and is determined by the amount of deliverables and the level of complexity. Once we get more information about your project, we’ll be able to give you an estimated time frame. The best way to start this process is filling our <a href="" class="contact-form">contact form</a> and we’ll get back to you.</p>
			</li>
			<li>
				<p class="question"><i class="fa fa-comment-o fa-flip-horizontal"></i><b>can my graphic designer do the web design?</b></p>
				<p>Yes.. but keep in mind that web design is a different style of design that involves usability, visitor interactivity, browser and screen resolution limitations, and many more considerations. Make sure that your graphic designer is experienced with web design and knows what is required to meet the needs of a website.</p>
			</li>
		</ul> 
	</div>
	<div class="row">
		<div class="small-centered text-center column">
			<p class="subtitle">If your question is not above, please <a href="" class="contact-form">contact us</a> and we’ll get back to you as soon as possible.</p>
		</div>
	</div>	
</section>

