<section class="dark content">
	<div class="row">
		<div class="small-centered text-center">
			<h2 class="faq">Frequently asked questions</h2>
		</div>
	</div>
	<div class="row">
		<ul class="small-block-grid-1 medium-block-grid-2">			
			<li>
				<p class="question"><strong>Why the name?</strong></p>
				<p>Softelos is <strong>Software</strong> + <strong>Telos</strong>, a Greek word that means end or purpose of something. We are a team that loves web design and software development. We want to put these passions at your service to help your business thrive.</p>
			</li>
			<li>
				<p class="question"><strong>Who do you work with?</strong></p>
				<p>We love working with anyone who understands the value of what we do and wants to use web design and software technologies to make their businesses more successful. Our perfect client is someone who loves great design, likes collaboration and appreciates our creative input.</p>
			</li>
			<li>
				<p class="question"><strong>What do you charge?</strong></p>
				<p>Our pricing is based on the amount of hours your project will take. In order to determine this, we'll need to have a brief discussion about your project, the level of detail involved and technical requirements. The best way to start this process is sending an email to <a href="mailto:hello@softelos.com">hello@softelos.com</a>, and we’ll get back to you.</p>
			</li>
			<li>
				<p class="question"><strong>Why Softelos when I could build a web myself?</strong></p>
				<p>Planning, designing, building and developing websites and complex web applications is what we do everyday. We’ve seen what works and what doesn’t. Why re-invent the wheel when you could use our expertise to create your vision?.</p>
			</li>			
			<li>
				<p class="question"><strong>How long will it take you to complete my project?</strong></p>
				<p>Each timeline is different, and is determined by the amount of deliverables and the level of intricacy your project requires. Once we get more information about your project, we’ll be able to give you an estimated timeframe. The best way to start this process is sending an email to <a href="mailto:hello@softelos.com">hello@softelos.com</a>, and we’ll get back to you.</p>
			</li>
			<li>
				<p class="question"><strong>Can my graphic designer do the web design?</strong></p>
				<p>Sure! Web design is quite a different style of design that involves usability, visitor interactivity, browser and screen resolution limitations, and a many more considerations. We recommend you make sure that your graphic designer is experienced with web design and has a grasp of what is required to meet the demands of a web page design.</p>
			</li>
		</ul> 
	</div>
	<div class="row">
		<div class="small-centered text-center column">
			<p class="subtitle">If your question is not above, please <a href="{{ site.baseurl }}/contact" class="">contact us</a> and we’ll get back to you ASAP.</p>
		</div>
	</div>	
</section>

