{% for page in site.posts %}

	{% if page.categories contains 'news' %}
		{% capture newsC %}x{% endcapture %}
	{% endif %}

	{% if page.categories contains 'work' %}
		{% capture workC %}x{% endcapture %}
	{% endif %}

	{% if page.categories contains 'events' %}
		{% capture eventsC %}x{% endcapture %}	
	{% endif %}

	{% if page.categories contains 'advice' %}
		{% capture adviceC %}x{% endcapture %}
	{% endif %}

{% endfor %}

<div id="notepad-bar" class="notepad-bar-hide">
	<div class="row">
		<div class="small-10 columns">
			<a href="{{ site.baseurl }}/notepad" class="">
				<div class="notepad-bar-icon blog blog-bar-all {% if page.subid == 'all' %} blog-bar-all-active {% endif %}"></div>
				<label>All</label>
			</a><br>
			{% if (newsC | size) > 0 %}<a href="{{ site.baseurl }}/notepad/news.html" class="">{% endif %}
				<div class="notepad-bar-icon blog blog-bar-news {% if page.subid == 'news' %} blog-bar-news-active {% endif %}"></div>
				<label>News ({{ newsC | size }})</label>
			{% if (newsC | size) > 0 %}</a>{% endif %}
			<br>
			{% if (workC | size) > 0 %}<a href="{{ site.baseurl }}/notepad/work.html" class="">{% endif %}
				<div class="notepad-bar-icon blog  blog-bar-work {% if page.subid == 'work' %} blog-bar-work-active {% endif %}"></div>
				<label>Work ({{ workC | size }})</label>
			{% if (workC | size) > 0 %}</a>{% endif %}
			<br>
			{% if (eventsC | size) > 0 %}<a href="{{ site.baseurl }}/notepad/events.html" class="">{% endif %}
				<div class="notepad-bar-icon blog  blog-bar-events {% if page.subid == 'events' %} blog-bar-events-active {% endif %}"></div>
				<label>Events ({{ eventsC | size }})</label>
			{% if (evetnsC | size) > 0 %}</a>{% endif %}
			<br>
			{% if (adviceC | size) > 0 %}<a href="{{ site.baseurl }}/notepad/advice.html" class="">{% endif %}
				<div class="notepad-bar-icon blog  blog-bar-advice {% if page.subid == 'advice' %} blog-bar-advice-active {% endif %}"></div>
				<label>Advice ({{ adviceC | size }})</label>
			{% if (adviceC | size) > 0 %}</a>{% endif %}
		</div>
		<div class="small-2 columns">
			<div id="handle" class="handle-show">
				<div class="notepad-bar-icon blog blog-bar-right"></div>
			</div>
		</div>
	</div>
</div>

