{% for page in site.posts %}

	{% if page.categories contains 'news' %}
		{% capture newsC %}x{% endcapture %}
	{% endif %}

	{% if page.categories contains 'work' %}
		{% capture workC %}x{% endcapture %}
	{% endif %}

	{% if page.categories contains 'events' %}
		{% capture eventsC %}x{% endcapture %}	
	{% endif %}

	{% if page.categories contains 'advice' %}
		{% capture adviceC %}x{% endcapture %}
	{% endif %}

{% endfor %}

<div id="notepad-bar">
		<a href="{{ site.baseurl }}/notepad/news.html" class="{% if page.subid == 'news' %} active {% endif %}">
			<img src="{{ site.baseurl }}/assets/img/news.png" alt="">
			<label>News ({{ newsC | size }})</label>
		</a><br>
		<a href="{{ site.baseurl }}/notepad/work.html" class="{% if page.subid == 'work' %} active {% endif %}">
			<img src="{{ site.baseurl }}/assets/img/work.png" alt="">
			<label>Work ({{ workC | size }})</label>
		</a><br>
		<a href="{{ site.baseurl }}/notepad/events.html" class="{% if page.subid == 'events' %} active {% endif %}">
			<img src="{{ site.baseurl }}/assets/img/events.png" alt="">
			<label>Events ({{ eventsC | size }})</label>
		</a><br>
		<a href="{{ site.baseurl }}/notepad/advice.html" class="{% if page.subid == 'advice' %} active {% endif %}">
			<img src="{{ site.baseurl }}/assets/img/advice.png" alt="">
			<label>Advice ({{ adviceC | size }})</label>
		</a>
</div>

