---
layout: default
id: notepad

type: post
---

<div class="row show-for-medium-up">
	<div class="small-12 columns">
		{% include notepad/bar.html %}
	</div>	
</div>

<section class="content">
		<div class="row">
			<div class="small-1 columns post-author">
				<a href="{{ static.baseurl }}/ourteam/#{{ page.author }}"><div class="post-author blog blog-{{ page.author }}-small"></div></a>
			</div>
		
			<div class="small-11 columns">
				<p class="post-info">{{ page.date | date: '%B %d, %Y' }} | <a href="{{ site.baseurl }}/notepad/{{ page.categories }}.html">{{ page.categories }}</a></p>
				<p class="author-name">{{ page.author-name }}</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12">
				<p>{{ content }}</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12">
				{% include notepad/social.html %}
			</div>
		</div>		
		<div class="row social">
			<div class="small-12 columns">
			<!-- I got these buttons from simplesharebuttons.com -->
				<div id="share-buttons">
 
					<!-- Facebook -->
					<a href="http://www.facebook.com/sharer.php?u=http://www.softelos.com{{ site.baseurl }}{{ page.url }}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
					 
					<!-- Twitter -->
					<a href="http://twitter.com/share?url=http://www.softelos.com{{ site.baseurl }}{{ page.url }}&text={{ page.subtitle }}&hashtags=webdevelopment" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
					 
					<!-- Google+ -->
					<a href="https://plus.google.com/share?url=http://www.softelos.com{{ site.baseurl }}{{ page.url }}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
					 
					<!-- LinkedIn -->
					<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.softelos.com{{ site.baseurl }}{{ page.url }}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>
					 

					<!-- Email -->
					<a href="mailto:?Subject={{ page.subtitle }} - Softelos&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.softelos.com{{ site.baseurl }}{{ page.url }}"><img src="http://www.simplesharebuttons.com/images/somacro/email.png" alt="Email" /></a>
				 
				</div>
			</div>
		</div>
</section>

<section class="content">
	<div class="row">
		<div class="small 12">
			<div id="disqus_thread"></div>
				<script type="text/javascript">
				    /* * * CONFIGURATION VARIABLES * * */
				    var disqus_shortname = 'softelos';
				    
				    /* * * DON'T EDIT BELOW THIS LINE * * */
				    (function() {
				        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				    })();
				</script>
				<noscript>
					Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
				</noscript>

				<script type="text/javascript">
				    /* * * CONFIGURATION VARIABLES * * */
				    var disqus_shortname = 'softelos';
				    
				    /* * * DON'T EDIT BELOW THIS LINE * * */
				    (function () {
				        var s = document.createElement('script'); s.async = true;
				        s.type = 'text/javascript';
				        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
				        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
				    }());
				</script>

		</div>
	</div>
</section>
