<section class="content dark">
	<div class="row">
	  <div class="small-12 column text-center">
	    <h1>Softelos is a web design and development agency based in Virginia.</h1>
	  </div>
	</div>
	<div class="row">
	   <div class="small-12 text-center">
	    <p class="subtitle">We craft professional websites and top-notch web applications for clients all over the United States.</p>
	   </div>
	</div>
	
</section>
<div class="row learnmore-button">
	<div class="small-12 text-center">
		<a href="{{ site.baseurl }}/whatwedo" class="button round">Learn more</a>
	 </div>
</div>