<section id="ourteam-intro" class="dark content">
	<div class="row">
		<div class="small-12 columns text-center">
			<h1>WE ARE HONEST AND HARD WORKERS</h1>
			<p class="subtitle">We are a team that loves unique ideas and enjoys developing creativity</p>
		</div>
	</div>
	<div class="row learnmore-button">
		<div class="small-12 text-center">
			<a href="{{ site.baseurl }}/notepad/work.html" class="button round">See our latest work</a>
		 </div>
	</div>	
</section>

<section id="ourvalues" class="light content show-for-medium-up ourteam">
	<div class="row" data-equalizer>
		<div class="medium-6 columns left"  data-equalizer-watch>
			<div class="medium-11 columns">
				<b>we are perfectionists</b>, we won't compromise harmony, beauty and functionality in a web design. These are the basic standards that composse the core of any project we work on, and we also apply them in every line of code we write.
			</div>
			<div class="medium-1 columns icon">
				<i class="fa fa-diamond"></i>
			</div>
		</div>
			
		<div class="medium-6 columns right" data-equalizer-watch>
			<div class="medium-1 columns icon">
				<i class="fa fa-suitcase"></i>
			</div>
			<div class="medium-11 columns">
				<b>we are professionals</b> with many years of experience developing software projects and creating beautiful designs. When it comes to web technologies, we know what we are talking about. We make your ideas happen visually and technically.
			</div>
		</div>
	</div>
	<div class="row" data-equalizer>	
		<div class="medium-6 columns left" data-equalizer-watch>
			<div class="medium-11 columns">
				<b>we commit to your success</b>, we love getting involved in your projects like they were our own. No matter the size of your company or the idea you have in mind, we will work around the clock to meet your expectations and to finish on time.
			</div>
			<div class="medium-1 columns icon">
				<i class="fa fa-trophy"></i>
			</div>

		</div>
		<div class="medium-6 columns right" data-equalizer-watch>
			<div class="medium-1 columns icon">
				<i class="fa fa-heart-o"></i>
			</div>
			<div class="medium-11 columns">
				<b>we are passionate </b> about our work and we understand the value of developing solutions and great customer services. We identify your requirements and think outside the box to deliver the best and highest performance solution to your needs.
			</div>
		</div>
	</div>
	<div class="row" data-equalizer>
		<div class="medium-6 columns left" data-equalizer-watch>
			<div class="medium-11 columns">
				<b>we are trustworthy</b>, we are not happy until you are completely satisfied with the results of our work, and we are not going to let you down until this happens. We will be with you until the end.
			</div>
			<div class="medium-1 columns icon">
				<i class="fa fa-smile-o"></i>
			</div>

		</div>
		<div class="medium-6 columns right" data-equalizer-watch>
			<div class="medium-1 columns icon">
				<i class="fa fa-whatsapp"></i>
			</div>
			<div class="medium-11 columns">
				<b>we speak your language</b>, we explain and keep things simple during our communications in order to make sure that you understand what we can do for you and your business.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-centered column text-center">
			<a href="{{ site.baseurl }}/contactus" class="button round">Ready to work with us?</a>
		</div>
	</div>	

</section>


<section id="ourvalues" class="light content show-for-small-only ourteam ourteam-small">
	<div class="row">
		<div class="medium-12 columns">
				<i class="fa fa-diamond"></i><b>we are perfectionists</b>, we won't compromise harmony, beauty and functionality in a web design. These are the basic standards that composse the core of any project we work on, and we also apply them in every line of code we write.
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
				<i class="fa fa-suitcase"></i><b>we are professionals</b> with many years of experience developing software projects and creating beautiful designs. When it comes to web technologies, we know what we are talking about. We make your ideas happen visually and technically.
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
				<i class="fa fa-trophy"></i><b>we commit to your success</b>, we love getting involved in your projects like they were our own. No matter the size of your company or the idea you have in mind, we will work around the clock to meet your expectations and to finish on time.
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
				<i class="fa fa-heart"></i><b>we are passionate </b> about our work and we understand the value of developing solutions and great customer services. We identify your requirements and think outside the box to deliver the best and highest performance solution to your needs.
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
				<i class="fa fa-smile-o"></i><b>we are trustworthy</b>, we are not happy until you are completely satisfied with the results of our work, and we are not going to let you down until this happens. We will be with you until the end.
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
				<i class="fa fa-whatsapp"></i><b>we speak your language</b>, we explain and keep things simple during our communications in order to make sure that you understand what we can do for you and your business.
		</div>
	</div>

	<div class="row">
		<div class="small-centered column text-center">
			<a href="{{ site.baseurl }}/contactus" class="button round">Ready to work with us?</a>
		</div>
	</div>	

</section>


