<section class="light content products">
	<div class="row text-center">
		<div class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
			
			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textWebsites }}">
							<div class="small-12 productbox-logo"><img src="/assets/img/WebDesignIcon.png" width="110" height="106px" alt="Websites"></div>
						</a>
						<div class="small-12 productbox-title"><h3>{{ site.textWebsites }}</h3></div>
						
						<div class="small-12 productbox-description">
							<p>We specialize in web designs that look and perform amazingly. We build beautiful front ends that load fast and are easy to use. All our designs are made to provide a relevant online experience for your customers.</p>
						</div>
					</div>				
				</div>
			</li>

			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textCMS }}">					
							<div class="small-12 productbox-logo"><img src="/assets/img/CMSIcon.png" width="110" height="106px" alt="Content Management Systems"></div>
						</a>
						<div class="small-12 productbox-title"><h3>{{ site.textCMS }}</h3></div>						
						<div class="small-12 productbox-description">
							<p>With a Content Management System we keep things simple by setting up a dynamic, professional website with a user-friendly interface that puts you in control of your content. We are experts in WordPress and Drupal.
						</div>
					</div>				
				</div>
			</li>	

			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textWebDev }}">					
							<div class="small-12 productbox-logo"><img src="/assets/img/WebDevelopmentIcon.png" width="110" height="106px" alt="Web Development"></div>
						</a>
						<div class="small-12 productbox-title"><h3>{{ site.textWebDev }}</h3></div>
						<div class="small-12 productbox-description">
							<p>We offer professional and affordable custom web development services based on your requirements. We are experts in server-side web technologies and real-time data collection, processing and visualization.</p>
						</div>
					</div>				
				</div>
			</li>
			
			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textResponsive }}">					
							<div class="small-12 productbox-logo"><img src="/assets/img/ResponsiveIcon.png" width="110" height="106px" alt="Mobile & Responsive"></div>
						</a>
						<div class="small-12 productbox-title"><h3>{{ site.textResponsive }}</h3></div>
						<div class="small-12 productbox-description">
							<p>With smart phone and tablet usage on the rise, it is essential that your site can work on all platforms. We offer responsive web designs and custom mobile applications for iOs and Android devices. We can also make your existing web site to become mobile friendly.</p>
						</div>
					</div>				
				</div>
			</li>
			
			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textECommerce }}">					
							<div class="small-12 productbox-logo"><img src="/assets/img/eCommerceIcon.png" width="110" height="106px" alt="Online Stores"></div>
						</a>
						<div class="small-12 productbox-title"><h3>{{ site.textECommerce }}</h3></div>
						<div class="small-12 productbox-description">
							<p>Manage your products, customers and orders using our e-commerce solutions, which are easy to use for you and your customers, and simple to update with new products and content, transforming your site into a veritable money-making machine. We are experts in Shopify and OpenCart.</p>
						</div>
					</div>				
				</div>
			</li>

			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textSEO }}">					
							<div class="small-12 productbox-logo"><img src="/assets/img/SEOIcon.png" width="110" height="106px" alt="Search Engine Optimization"></div>
						</a>
						<div class="small-12 productbox-title"><h3>{{ site.textSEO }}</h3></div>
						<div class="small-12 productbox-description">
							<p>Increase your website traffic and ranking with our Search Engine Optimization plans. We are experts in making sure that Google, Yahoo and Bing don't have to look too hard to find you when your potential customers are searching services like the ones you provide.</p>
						</div>
					</div>				
				</div>
			</li>


		</div>
	</div>
</section>
