<section class="light content products">
	<div class="row text-center">
		<div class="small-block-grid-2 medium-block-grid-3">
			
			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textWebsites }}">
							<div class="small-12 productbox-logo"><img src="/assets/img/WebDesignIcon.png" alt=""></div>
							<div class="small-12 productbox-title"><h3>{{ site.textWebsites }}</h3></div>
						
							<div class="small-12 productbox-description">
								<p>We specialize in websites that look and perform amazingly. We build beautiful websites that load fast, are easy to use and provide a relevant online experience for your customers.</p>
							</div>
						</a>
					</div>				
				</div>
			</li>

			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textWebDev }}">					
							<div class="small-12 productbox-logo"><img src="/assets/img/WebDevelopmentIcon.png" alt=""></div>
							<div class="small-12 productbox-title"><h3>{{ site.textWebDev }}</h3></div>
							<div class="small-12 productbox-description">
								<p>We offer professional and affordable web development services based on your requirements. We are experts in client-side/server-side coding, real-time data monitoring and database driven web applications.</p>
							</div>
						</a>
					</div>				
				</div>
			</li>
			
			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textResponsive }}">					
							<div class="small-12 productbox-logo"><img src="/assets/img/ResponsiveIcon.png" alt=""></div>
							<div class="small-12 productbox-title"><h3>{{ site.textResponsive }}</h3></div>
							<div class="small-12 productbox-description">
								<p>With smart phone and tablet usage on the rise, it is essential that your site can work on all platforms. We offer responsive web designs and custom mobile applications for iOs and Android devices.</p>
							</div>
						</a>
					</div>				
				</div>
			</li>
			
			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textCMS }}">					
							<div class="small-12 productbox-logo"><img src="/assets/img/CMSIcon.png" alt=""></div>
							<div class="small-12 productbox-title"><h3>{{ site.textCMS }}</h3></div>						
							<div class="small-12 productbox-description">
								<p>With a Content Management System we keep things simple by setting up a dynamic, professional website with a user-friendly interface that puts you in control, so you don’t have to pay us every time you want to remove a comma.
							</div>
						</a>
					</div>				
				</div>
			</li>	

			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textECommerce }}">					
							<div class="small-12 productbox-logo"><img src="/assets/img/eCommerceIcon.png" alt=""></div>
							<div class="small-12 productbox-title"><h3>{{ site.textECommerce }}</h3></div>
							<div class="small-12 productbox-description">
								<p>Manage your products, customers and orders using our e-commerce solutions, which are easy to use for you and your customers, and simple to update with new products and content, transforming your site into a veritable money-making machine.</p>
							</div>
						</a>
					</div>				
				</div>
			</li>

			<li>
				<div class="panel">
					<div class="row small-centered product">
						<a href="{{ site.baseurl}}/whatwedo#{{ site.textSEO }}">					
							<div class="small-12 productbox-logo"><img src="/assets/img/SEOIcon.png" alt=""></div>
							<div class="small-12 productbox-title"><h3>{{ site.textSEO }}</h3></div>
							<div class="small-12 productbox-description">
								<p>Increase your website traffic and ranking with our Search Engine Optimization plans. We’re experts in making sure that Google, Yahoo, Bing and others don’t have to look too hard to find you. By the way, how did you find Softelos?</p>
							</div>
						</a>
					</div>				
				</div>
			</li>


		</div>
	</div>
</section>
